 #hi{
	background-image: url("wind-power-4380274.jpg");
	background-size: cover;
	height: 37em;
}
.nav-item nav-link > b{
	color: white;
}
.hiii{
	background-image: url("wind-power-4380274.jpg");
	background-size: cover;
}